.buttons{
    display: flex;
    width: 90%;
    margin: 20px auto;
}
.buttons button{
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    border: 0.6px solid blue;
    padding: 8px;
    color:blue;
}

button:nth-child(1):hover{
    outline: none;
    background-color: thistle;
}

.buttons button:nth-child(2) {
    background-color: blue;
    color: white;
}

button:nth-child(2):hover{
    outline: none;
    background-color: rgb(52, 52, 252);
}

